In [9]:
import pandas as pd
import re
df = pd.read_csv("advent_code_day1_q.csv")

In [10]:
# df = df.iloc[0:1,]
df

                                    INPUT
0                               5ffour295
1               m9qvkqlgfhtwo3seven4seven
2                       2vdqng1sixzjlkjvq
3                   5twonineeight3onefive
4                  2three2seveneightseven
..                                    ...
995          42onekfbgxgtzl7qxzrmqbmeight
996               7fjkfdlmhqxtwoxcpssngss
997  gsntbddbnone4cjqjmspzcsxmvvthreefive
998                           56four4one2
999           cqmzqbxzfvonevmmmlxsnjr5zfg

[1000 rows x 1 columns]

In [11]:
numsWritten = ['zero','one','two','three','four','five','six','seven','eight','nine']
numsNum = [0,1,2,3,4,5,6,7,8,9]
all_nums = []

for index, row in df.iterrows():
    row_dict = {}
    words_found_dict = {}
    string = row['INPUT']
    
#     for word in numsWritten:
#         if word in string:
#             start_index = string.find(word)
#             end_index = start_index + len(word) - 1
#             words_found_dict[end_index] = word

    for word in numsWritten:
        for m in re.finditer(word, string):
            end_index = m.end()-1
            words_found_dict[end_index] = word

    for position, value in enumerate(string):
        if value.isdigit():
            row_dict[position] = value
    
    for key in words_found_dict:
        words_found_dict[key] = str(numsWritten.index(words_found_dict[key]))
        
    row_dict.update(words_found_dict)
    
    first_num_pos = min(list(row_dict.keys()))
    last_num_pos = max(list(row_dict.keys()))
    
    all_nums.append(int(row_dict[first_num_pos] + row_dict[last_num_pos]))

In [12]:
sum(all_nums)

53539