In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv("DAY2.csv")
# df = df.iloc[0:1,]
df[['GameNum','Outputs']] = df['INPUT'].str.split(':',expand=True)
df = df[['GameNum','Outputs']]
# df = df.iloc[0:1]
df["FEASIBILITY"] = "NO"
df

     GameNum                                            Outputs FEASIBILITY
0     Game 1   1 green, 1 blue, 1 red; 1 green, 8 red, 7 blu...          NO
1     Game 2   9 red, 7 green, 3 blue; 15 green, 2 blue, 5 r...          NO
2     Game 3   3 red, 1 blue, 4 green; 6 red, 3 green, 2 blu...          NO
3     Game 4   2 blue, 2 green, 19 red; 3 blue, 11 red, 16 g...          NO
4     Game 5   8 green, 1 red, 12 blue; 10 green, 6 red, 13 ...          NO
..       ...                                                ...         ...
95   Game 96    2 red, 2 green, 1 blue; 1 red, 4 green; 1 green          NO
96   Game 97   4 red, 5 green; 5 blue, 3 red; 8 blue, 2 gree...          NO
97   Game 98   1 blue; 2 green, 1 red; 5 red, 2 green; 4 red...          NO
98   Game 99   6 blue, 5 red, 2 green; 9 red, 1 blue; 2 gree...          NO
99  Game 100   1 blue, 13 green, 14 red; 11 green, 11 blue, ...          NO

[100 rows x 3 columns]

In [3]:
colors = ['green', 'blue', 'red']

red_cap = 12
green_cap = 13
blue_cap = 14

for index, row in df.iterrows():
    red_ls = []
    green_ls = []
    blue_ls = []
    string = row['Outputs']
    by_game = string.split("; ")
    for game in by_game:
        outputs = game.split(",")
#         print(game)
        for output in outputs:
            for color in colors:
                if color in output:
#                     print(output)
                    if (color == 'green'):
                        green_ls.extend(re.findall(r'\d+', output))
                        
                    if (color == 'blue'):
                        blue_ls.extend(re.findall(r'\d+', output))
                        
                    if (color == 'red'):
                        red_ls.extend(re.findall(r'\d+', output))

    green_ls = [eval(i) for i in green_ls]
    blue_ls = [eval(i) for i in blue_ls]
    red_ls = [eval(i) for i in red_ls]
    
    if (max(green_ls)<=green_cap) & (max(blue_ls)<=blue_cap) & (max(red_ls)<=red_cap):
        df.iloc[index, 2] = 'YES'

In [4]:
correct = df[df.FEASIBILITY=='YES']
incorrect = df[df.FEASIBILITY=='NO']
correct[['Game','ID']] = correct['GameNum'].str.split(' ',expand=True)
correct['ID'] = correct['ID'].astype(int)

C:\Users\Scout\AppData\Local\Temp\ipykernel_8400\1339520765.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  correct[['Game','ID']] = correct['GameNum'].str.split(' ',expand=True)
C:\Users\Scout\AppData\Local\Temp\ipykernel_8400\1339520765.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  correct[['Game','ID']] = correct['GameNum'].str.split(' ',expand=True)
C:\Users\Scout\AppData\Local\Temp\ipykernel_8400\1339520765.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  correct['ID'] = correct['ID'].astype(int)

In [5]:
correct.ID.sum()

3035

In [6]:
# df = correct.copy()
# df = df.reset_index(drop=True)
df['min_cubes'] = 0

In [7]:
for index, row in df.iterrows():
    red_ls = []
    green_ls = []
    blue_ls = []
    string = row['Outputs']
    by_game = string.split("; ")
    for game in by_game:
        outputs = game.split(",")
#         print(game)
        for output in outputs:
            for color in colors:
                if color in output:
#                     print(output)
                    if (color == 'green'):
                        green_ls.extend(re.findall(r'\d+', output))
                        
                    if (color == 'blue'):
                        blue_ls.extend(re.findall(r'\d+', output))
                        
                    if (color == 'red'):
                        red_ls.extend(re.findall(r'\d+', output))

    green_ls = [eval(i) for i in green_ls]
    blue_ls = [eval(i) for i in blue_ls]
    red_ls = [eval(i) for i in red_ls]
    
    df.iloc[index, 3] = max(green_ls) * max(blue_ls) * max(red_ls)
#     if (max(green_ls)<=green_cap) & (max(blue_ls)<=blue_cap) & (max(red_ls)<=red_cap):
#         df.iloc[index, 2] = 'YES'

In [8]:
df

,GameNum,Outputs,FEASIBILITY,min_cubes
0,Game 1,"1 green, 1 blue, 1 red; 1 green, 8 red, 7 blu...",YES,200
1,Game 2,"9 red, 7 green, 3 blue; 15 green, 2 blue, 5 r...",NO,450
2,Game 3,"3 red, 1 blue, 4 green; 6 red, 3 green, 2 blu...",NO,384
3,Game 4,"2 blue, 2 green, 19 red; 3 blue, 11 red, 16 g...",NO,5760
4,Game 5,"8 green, 1 red, 12 blue; 10 green, 6 red, 13 ...",YES,840
...,...,...,...,...
95,Game 96,"2 red, 2 green, 1 blue; 1 red, 4 green; 1 green",YES,8
96,Game 97,"4 red, 5 green; 5 blue, 3 red; 8 blue, 2 gree...",YES,160
97,Game 98,"1 blue; 2 green, 1 red; 5 red, 2 green; 4 red...",YES,20
98,Game 99,"6 blue, 5 red, 2 green; 9 red, 1 blue; 2 gree...",YES,198
99,Game 100,"1 blue, 13 green, 14 red; 11 green, 11 blue, ...",NO,2145

In [9]:
df.min_cubes.sum()

66027