In [15]:
import pandas as pd
df = pd.read_csv('day9_data.csv')
df[[1,2,3,4,5,6,7,8,9,10,11,12,
    13,14,15,16,17,18,19,20,21]] = df['Data'].str.split(' ',expand=True)

df

,Data,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,3 10 23 46 99 234 563 1310 2904 6131 12351 237...,3,10,23,46,99,234,563,1310,2904,...,23745,43470,75464,123501,189097,268370,349700,418439,484617,669380
1,16 41 77 119 171 265 488 1017 2162 4417 8519 1...,16,41,77,119,171,265,488,1017,2162,...,15515,26837,44385,70618,108653,162372,236537,336913,470399,645167
2,20 45 91 182 351 648 1157 2027 3543 6296 11556...,20,45,91,182,351,648,1157,2027,3543,...,22009,43088,85209,167316,322244,604526,1101399,1947905,3347136,5596837
3,24 50 87 141 223 341 487 621 653 420 -352 -212...,24,50,87,141,223,341,487,621,653,...,-2121,-5670,-12365,-24598,-46505,-85074,-151786,-264963,-453031,-758943
4,13 31 76 172 351 645 1075 1649 2399 3508 5604 ...,13,31,76,172,351,645,1075,1649,2399,...,10347,21558,47460,105396,232221,507493,1104469,2398816,5191706,11149877
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,-1 14 44 89 149 224 314 419 539 674 824 989 11...,-1,14,44,89,149,224,314,419,539,...,989,1169,1364,1574,1799,2039,2294,2564,2849,3149
196,14 15 17 21 40 117 357 989 2491 5837 12960 275...,14,15,17,21,40,117,357,989,2491,...,27569,56511,111931,214554,398493,718076,1257283,2142491,3559341,5774666
197,4 14 44 117 269 547 1003 1682 2609 3791 5262 7...,4,14,44,117,269,547,1003,1682,2609,...,7215,10313,16436,30590,65824,155350,380532,931308,2228761,5160433
198,12 9 6 3 0 -3 -6 -9 -12 -15 -18 -21 -24 -27 -3...,12,9,6,3,0,-3,-6,-9,-12,...,-21,-24,-27,-30,-33,-36,-39,-42,-45,-48
199,20 35 54 78 121 218 424 801 1386 2126 2773 279...,20,35,54,78,121,218,424,801,1386,...,2790,1505,-770,1178,28420,145017,519925,1559927,4182072,10352394